<!-- <h1>Questions#answer</h1>
  <p>Find me in app/views/questions/answer.html.erb</p> -->

  <h1>Stupid Coaching</h1>
  <div class="container">
    <div class="question">
      <h2><%= @question%></h2>
      <p> -You</p>
    </div>

    <div class="coach_answer">
      <h3> <%= @coach_answer%></h3>
      <p>-Your coach</p>
    </div>
  </div>

  <%= link_to 'Ask a new question', ask_path %>


<!-- <h2><%= @question%> You</h2>
<p> <%= @answer%>You</p>
-->
<!--
<form action="/restaurants" method="get">
  <input type="text" name="food_type" placeholder="What kind of food?">
  <input type="submit">
</form> -->
